<h2>All Plots</h2>
<ul>
  <% @plots.each do |plot| %>
    <div id=<%= plot.id %>>
      <li><strong>Plot Number: <%= plot.number %></strong></li>
      <p>Plants:</p>
      <ol>
        <% plot.plants.each do |plant| %>
          <li><%= plant.name %></li>
          <p><%= link_to "Remove #{plant.name}", "/plots/#{plot.id}/plants/#{plant.id}", method: :delete, local: true %></p>
        <% end %>
      </ol>
    </div>
  <% end %>
</ul>