<h2></h2>
<ul>
  <% @fast_plants_list.each do |plant| %>
    <li>Plant Name: <%= plant.name %></li>
    <li>Description: <%= plant.description %></li>
    <li>Days until ready to harvest: <%= plant.days_to_harvest %></li>
    <br>
  <% end %>
</ul>